.black-background {
  background-color: black;
}

.important {
  border: solid black;
  margin-top: 100px;
  margin-bottom: 100px;
}
.dog1 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.dog3 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.aboutme {
  color: orange;

}
.highlight {
  color: red;

}

h1{
 font-style:normal;
 text-align: center;
text-shadow: 40px;
}
img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

ul {
  align: center;
}
